<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello there</title>
</head>
<body>

    <h1>Testing Twilio functions</h1>
    <h1>The original list: {{ theList }}!</h1>

    <form method="post" action="/twilio/sms">
        Enter you mobile as +xxxxxx: <input type="text" name="telephone" />
        <br>
        Enter your message: <input type="text" name="message" />
        <br>
        <input type="submit" value="SMS the number....">
    </form>

    <br>

    <form method="post" action="/twilio/voice">
        Enter you mobile as +xxxxxx: <input type="text" name="telephone" />
        <br>
        Enter your message: <input type="text" name="message" />
        <br>
        <input type="submit" value="Calling you....">
    </form>



</body>
</html>


