<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Result</title>

</head>
<body>
    <h1>Sent: [ {{ message }} ] to {{ number }}!</h1>

    <form method="get">
        <button type="submit" formaction="/">Go Back</button>
    </form>

</body>
</html>